* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  display: flex;
  /* justify-content: space-evenly; */
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.section-product {
  display: flex;
  justify-content: space-evenly;
}

.product-image {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
