* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 144rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: hsl(219, 9%, 45%);
  border-bottom: 2px solid hsl(223, 64%, 98%);
  margin-top: 2.4rem;
  padding-bottom: 2.8rem;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 4.8rem;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: hsl(219, 7%, 8%);
  border-bottom: 4px solid hsl(26, 100%, 55%);
  padding-bottom: 4.2rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-cart {
  height: 2rem;
  width: 2.2rem;
}

.nav-cart:hover {
  cursor: pointer;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  left: -20rem;
  background-color: white;
  min-width: 40rem;
  min-height: 30rem;
  border-radius: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.nav-cart-text {
  color: hsl(220, 13%, 13%);
  font-weight: bold;
  font-size: 1.6rem;
  padding: 2rem;
  border-bottom: 2px solid hsl(223, 64%, 98%);
}

.nav-cart-item {
  text-align: center;
  padding: 25% 25%;
}

.nav-avatar {
  height: 5rem;
}

.nav-avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  cursor: pointer;
}

.section-product {
  margin-top: 2.4rem;
  display: flex;
  padding: 4.8rem;
}

.product-image-main {
  width: 75%;
  border-radius: 16px;
  margin-bottom: 2.4rem;
  cursor: pointer;
}

.product-image-thumbs {
  display: flex;
  gap: 2.8rem;
  cursor: pointer;
}

.image-thumb {
  width: 15%;
  border-radius: 16px;
}

.image-thumb:hover {
  opacity: 0.4;
}

.image-thumb-selected {
  border: 3px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}

.hidden {
  display: none;
}

.product-image-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.thumbs-modal {
  justify-content: center;
}

.product-info {
  padding: 4.8rem;
}

.product-company {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  margin-bottom: 1.2rem;
}

.product-name {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.product-description {
  font-size: 1.6rem;
  color: hsl(220, 14%, 75%);
}

.price {
  display: flex;
  margin-top: 2.4rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.product-price {
  font-size: 2.8rem;
  font-weight: bold;
  margin-right: 1.2rem;
}

.product-percentage {
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  padding: 0.25rem 0.5rem;
  border-radius: 2.5px;
}

.product-previous-price {
  color: hsl(220, 14%, 75%);
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: line-through;
  margin-bottom: 2.4rem;
}

.add-cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.add-cart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 2rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;

  width: 50%;
  border: none;
  border-radius: 9px;
  font-family: inherit;
}

.minus-btn:hover,
.plus-btn:hover {
  cursor: pointer;
}

.btn {
  display: inline-block;

  text-decoration: none;
  font-size: 1.6rem;
  padding: 2rem 3.2rem;
  border-radius: 9px;
  color: white;
  background-color: hsl(26, 100%, 55%);
  text-align: center;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn:hover {
  background-color: hsl(26, 100%, 70%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
